body {
    margin: 0px;
    background-color: rgb(31, 31, 31);
}

#donationsList {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    overflow-x: scroll;
}

#donationsList ul {
    white-space: nowrap;
}

#donationsList ul li {
    display: inline-block;
    margin-right: 20px;
    color: white;
}

#donationsList ul li:first-of-type {
    margin-left: 50vw;
}

#donationsList ul li.current {
    color: cyan;
}